body {
	padding: 0;
	margin: 0;
	font-family: Tahoma;
	font-size: 12px;
}
a { text-decoration: none; color: black; }
#menu {
	width: 100%;
	height: 80px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e8e8e8 39%, #dbdbdb 71%, #cecece 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(39%,#e8e8e8), color-stop(71%,#dbdbdb), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e8e8e8 39%,#dbdbdb 71%,#cecece 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e8e8e8 39%,#dbdbdb 71%,#cecece 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e8e8e8 39%,#dbdbdb 71%,#cecece 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e8e8e8 39%,#dbdbdb 71%,#cecece 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
	position: fixed;
	z-index: 1000;
}
#menu_cont {
	float: right;
	padding:0;
	margin: 0;
	width: 700px;
}
#menu_cont li {
	display:inline;
}
#menu_cont li a {
	font-size:16px;
	text-decoration: none;
	float: right;
	width:120px;
	margin-left: 10px;
	color:#000;
	text-shadow: 1px 1px 2px rgba(255,255,255,1.0);
	text-align: center;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	height: 100%;
}
#menu_txt {
	top:38%;
	position: relative;
}
#menu_cont li a:hover {
	color: #fff;
	background: #a4b357; /* Old browsers */
	background: -moz-linear-gradient(top,  #a4b357 0%, #75890c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4b357), color-stop(100%,#75890c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a4b357 0%,#75890c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 2px rgba(0,0,0,1.0);
}

#logo {
	float: left;
	border-radius: 0px 0px 30px 30px;
	width: 160px;
	height: 150px;
	margin-left: 40px;
	box-shadow: 0px 0px 25px rgba(255,255,255,0.2);
	background: #a4b357; /* Old browsers */
	background: -moz-linear-gradient(top,  #a4b357 0%, #75890c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4b357), color-stop(100%,#75890c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a4b357 0%,#75890c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-9 */

}
#logo2 {
	width: 180px;
	height: 150px;
	padding-top: 20px;
	margin-left: 10px;
	text-shadow: inline 0px 0px 25px rgba(255,255,255,0.2);
	font-size: 18px;
	float: left;
}
#cont {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}
#cont2 {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	margin-top:20px;
}
#landing {
	border-radius: 0px 0px 10px 10px;
	width: 100%;
	height: 300px;
	box-shadow: inset 0px 0px 100px rgba(0,0,0,0.1);
	background-image: url('http://www.megapedia.pl/z-makaronem.jpg');
	background-size: cover;
}
#landing_txt1 {
	color: white;
	font-size: 36px;
	font-weight: bold;
	position: relative;
	top: 130px;
	padding: 10px;
	color: white;
	float:right;
	box-shadow: inset 0px 0px 100px rgba(0,0,0,0.1);
	background: rgba(0,0,0,0.6);
}
#landing_txt2 {
	color: white;
	font-size: 18px;
	position: relative;
	top: 140px;
	padding: 10px;
	color: white;
	float:right;
	box-shadow: inset 0px 0px 100px rgba(0,0,0,0.1);
	background: rgba(0,0,0,0.6);
}
#leftside {
	width: 660px;
	float: left;
}
#panel_l {
	box-shadow: 0px 0px 2px #000;
	border-radius: 5px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(214,219,215,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(214,219,215,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(214,219,215,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(214,219,215,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(214,219,215,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(214,219,215,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#d6dbd7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	overflow: hidden;
	text-align: justify;
}
#ppanel {
	background-color: rgba(0,0,0,0.1);
	padding: 10px;
	font-size: 18px;
}
#ppanel_txt {
	padding: 10px;
}
#rightside {
	width: 220px;
	float: right;
}
#panel_r {
	box-shadow: 0px 0px 2px #000;
	border-radius: 5px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(214,219,215,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(214,219,215,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(214,219,215,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(214,219,215,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(214,219,215,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(214,219,215,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#d6dbd7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	text-align: justify;
}
#push { clear: both; }
#foother {
	clear: both;
	width: 100%;
	height: 80px;
	margin-top: 50px;
	text-align: center;
	color: rgba(0,0,0,0.6);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e8e8e8 39%, #dbdbdb 71%, #cecece 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(39%,#e8e8e8), color-stop(71%,#dbdbdb), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e8e8e8 39%,#dbdbdb 71%,#cecece 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e8e8e8 39%,#dbdbdb 71%,#cecece 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e8e8e8 39%,#dbdbdb 71%,#cecece 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e8e8e8 39%,#dbdbdb 71%,#cecece 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}
#txt_foot {
	margin-top: 5px;
}
#foother a{
	color: rgba(0,0,0,0.4);
}